# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/
